li{
    color: pink;
    font-size: 30px;
}

div{
    background-color: yellow;
}

h2{
    background-color: yellow;
    color: navy;
}

p{
    background-color: red;
    color: white;
}

h3{
    background-color: pink;
    color: white;
}