.parent {
  position: relative;
  width: 100%;
  height: 0px;
  background-color: rgb(33, 129, 212);
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}

.circle1 {
  background-color: #9afaff;
  top: 260px;
  left: 220px;
  z-index: 10;
}

.circle2 {
  background-color: rgb(94, 163, 236);
  top: 210px;
  left: 170px;
  z-index: 8;
}

.circle3 {
  background-color: rgb(74, 107, 239);
  top: 150px;
  left: 150px;
  z-index: 6;
}

.circle4 {
  background-color: rgb(20, 28, 178);
  top: 100px;
  left: 100px;
  z-index: 4;
}

.circle5 {
  top: 40px;
  left: 50px;
  background-color: rgb(6, 6, 128);
}

.circle6 {
  background-color: white;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 15px;
  position: absolute;
}

.circle7 {
  background-color: black;
  width: 20px;
  height: 20px;
  top: 25px;
  left: 15px;
}

img {
  position: absolute;
  top: 270px;
}
